@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');

@font-face {
    font-family: 'font-awesome';
    src: url('/fonts/font-awesome/fonts/fontawesome-webfont.ttf');
    src: url('/fonts/font-awesome/fonts/fontawesome-webfont.eot'), /* IE9 Compat Modes */
         url('/fonts/font-awesome/fonts/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/font-awesome/fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('/fonts/font-awesome/fonts/fontawesome-webfont.svg') format('svg'); /* Legacy iOS */
   }

/* ====================================
            * CONFIGURATION *
==================================== */
*,
*::after,
*::before
{
    box-sizing: border-box;
}

/* ====================================
            * VARIABLES *
==================================== */

:root {
    --font: 'Open Sans', sans-serif;
    --fondo: #fff;
    --color-white: #fff;
    --width-container: 1200px;
    --primary-bg: #464677;
    --primary-bg-login: blue;
    --secondary-bg: green;
    --danger-bg: rgb(220, 71, 71);
}

/* ====================================
            * GENERAL STYLES *
==================================== */

body {
    background: var(--fondo);
    font-family: var(--font);
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 14px;
}

p {
    line-height: 27px;
}

img {
    vertical-align: top;
    width: 100%;
}

a {
    color: green;
    cursor: pointer;
}

button {
    border: none;
}

/* ====================================
            * CONTAINERS *
==================================== */

.container {
    max-width: 90%;
    width: var(--width-container);
    margin: 20px auto;
    overflow: scroll;
    position: relative;
}

.container-fluid {
    max-width: 100%;
    padding: 0 40px;
    margin: 20px auto;
}

/* ====================================================================
  UTILITIES
==================================================================== */

.border-radius-1 { border-radius: 1rem; }
.border-radius-2 { border-radius: 2rem; }
.border-radius-3 { border-radius: 3rem; }
.border-radius-4 { border-radius: 4rem; }
.border-radius-5 { border-radius: 5rem; }
.border-1 { border: 1px solid black; }
.border-1-w { border: 1px solid var(--color-white); }
.p-1 {
    padding: 1rem;
}
.bg-dark {
    background: #232A34;
}
.color-white {
    color: var(--color-white);
}
.display-1 {
    font-size: 5rem;
}
.display-2 {
    font-size: 3.6rem;
}
.display-3 {
    font-size: 2rem;
}

/* ====================================
            * FUENTES *
==================================== */

.grid {
    display: grid;
    gap: 1rem;
    margin-bottom: 1rem+;
}

/* Tamaño grande Computadoras y TV */
.col-1 { grid-template-columns: repeat(1, 1fr); }
.col-2 { grid-template-columns: repeat(2, 1fr); }
.col-3 { grid-template-columns: repeat(3, 1fr); }
.col-4 { grid-template-columns: repeat(4, 1fr); }
.col-5 { grid-template-columns: repeat(5, 1fr); }
.col-6 { grid-template-columns: repeat(6, 1fr); }
.col-7 { grid-template-columns: repeat(7, 1fr); }
.col-8 { grid-template-columns: repeat(8, 1fr); }
.col-9 { grid-template-columns: repeat(9, 1fr); }
.col-10 { grid-template-columns: repeat(10, 1fr); }
.col-11 { grid-template-columns: repeat(11, 1fr); }
.col-12 { grid-template-columns: repeat(12, 1fr); }

.span-1 { grid-column: span 1; }
.span-2 { grid-column: span 2; }
.span-3 { grid-column: span 3; }
.span-4 { grid-column: span 4; }
.span-5 { grid-column: span 5; }
.span-6 { grid-column: span 6; }
.span-7 { grid-column: span 7; }
.span-8 { grid-column: span 8; }
.span-9 { grid-column: span 9; }
.span-10 { grid-column: span 10; }
.span-11 { grid-column: span 11; }
.span-12 { grid-column: span 12; }

/* ====================================================================
  COMPONENTS
==================================================================== */
.card {
    min-width: 10rem;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
}
.card__img {
    position: relative;
    display: flex;
    justify-content: center;
}
.card__img img {
    width: 80%;
    border-radius: 50%;
    border: 1px solid #232A34;
}
.car
.card__img img:hover {
    cursor: pointer;
}
.card:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s ease all;
}
.content-hover {
    visibility: hidden;
    position: absolute;
    background: green;
    opacity: .8;
    height: 100%;
    border-radius: 1rem;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    color: var(--color-white);
}

/* card service */
.card-service {
    min-width: 10rem;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
}
.card-service:hover {
    cursor: pointer;
    transform: rotateY(180deg);
    transition: 500ms linear all;
    border: none;
    visibility: visible;
   
}
.card-service:hover .behind {
    visibility: visible;
    transform: rotateY(180deg);
    transition-delay: 250ms;
    background: rgb(212, 139, 3);
    border-radius: 1rem;
}
.card-service:hover .front {
    visibility: hidden;
    transition-delay: 250ms;
}
.behind {
    padding: 1rem;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.front {
    background: #232A34;
    padding: 1rem;
    opacity: .7;
    border-bottom: 1px solid #fff;
}
.card_customers img{
    width: auto;
    height: auto;
}
/* ====================================================================
  SECTIONS
==================================================================== */
.section-cover-page-gc {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url('https://centrodenegociosgc.com/images/home/slide-2.jpg');
    background-position: center;
}
.section-cover-page-gc video {
    width: 100%;
}
.section-company-gc {
    text-align: justify;
}

.gc-content-text {
    position: absolute;
    background: #08080879;
    color: var(--color-white);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gc-content-text h3 {
    color: orange;
    font-weight: bold;
}
.section-services-gc {
    background-image: url('https://cdn.pixabay.com/photo/2017/10/30/18/44/hacking-2903156_960_720.jpg');
    background-size:cover;
    background-position: left;
    z-index: 0;
}

.footer-gc{
    width: 100%;
    min-height: 20rem;
    background-color: #232A34;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ====================================================================
  RESPONSIVE
==================================================================== */
/* Tamaño Mediano - Tablets */
@media screen and (max-width: 992px) {
    .col-md-1 { grid-template-columns: repeat(1, 1fr); }
    .col-md-2 { grid-template-columns: repeat(2, 1fr); }
    .col-md-3 { grid-template-columns: repeat(3, 1fr); }
    .col-md-4 { grid-template-columns: repeat(4, 1fr); }
    .col-md-5 { grid-template-columns: repeat(5, 1fr); }
    .col-md-6 { grid-template-columns: repeat(6, 1fr); }
    .col-md-7 { grid-template-columns: repeat(7, 1fr); }
    .col-md-8 { grid-template-columns: repeat(8, 1fr); }
    .col-md-9 { grid-template-columns: repeat(9, 1fr); }
    .col-md-10 { grid-template-columns: repeat(10, 1fr); }
    .col-md-11 { grid-template-columns: repeat(11, 1fr); }
    .col-md-12 { grid-template-columns: repeat(12, 1fr); }

    .span-md-1 { grid-column: span 1; }
    .span-md-2 { grid-column: span 2; }
    .span-md-3 { grid-column: span 3; }
    .span-md-4 { grid-column: span 4; }
    .span-md-5 { grid-column: span 5; }
    .span-md-6 { grid-column: span 6; }
    .span-md-7 { grid-column: span 7; }
    .span-md-8 { grid-column: span 8; }
    .span-md-9 { grid-column: span 9; }
    .span-md-10 { grid-column: span 10; }
    .span-md-11 { grid-column: span 11; }
    .span-md-12 { grid-column: span 12; }

}

/* Tamaño Pequeño - Smarphone */
@media screen and (max-width: 576px) {
    .col-sm-1 { grid-template-columns: repeat(1, 1fr); }
    .col-sm-2 { grid-template-columns: repeat(2, 1fr); }
    .col-sm-3 { grid-template-columns: repeat(3, 1fr); }
    .col-sm-4 { grid-template-columns: repeat(4, 1fr); }
    .col-sm-5 { grid-template-columns: repeat(5, 1fr); }
    .col-sm-6 { grid-template-columns: repeat(6, 1fr); }
    .col-sm-7 { grid-template-columns: repeat(7, 1fr); }
    .col-sm-8 { grid-template-columns: repeat(8, 1fr); }
    .col-sm-9 { grid-template-columns: repeat(9, 1fr); }
    .col-sm-10 { grid-template-columns: repeat(10, 1fr); }
    .col-sm-11 { grid-template-columns: repeat(11, 1fr); }
    .col-sm-12 { grid-template-columns: repeat(12, 1fr); }

    .span-sm-1 { grid-column: span 1; }
    .span-sm-2 { grid-column: span 2; }
    .span-sm-3 { grid-column: span 3; }
    .span-sm-4 { grid-column: span 4; }
    .span-sm-5 { grid-column: span 5; }
    .span-sm-6 { grid-column: span 6; }
    .span-sm-7 { grid-column: span 7; }
    .span-sm-8 { grid-column: span 8; }
    .span-sm-9 { grid-column: span 9; }
    .span-sm-10 { grid-column: span 10; }
    .span-sm-11 { grid-column: span 11; }
    .span-sm-12 { grid-column: span 12; }

    .display-sm-1 {
        font-size: 2.5rem;
    }
    .display-sm-2 {
        font-size: 1.3rem;
    }
    .display-sm-3 {
        font-size: 1rem;
    }
}